name: ci
run-name: 'CI - branch ${{ github.ref_name }}. Triggered by @${{ github.actor }}'

on:
  push:
    branches: [ 'main']

concurrency:
  group: ${{ github.workflow_ref }}
  cancel-in-progress: true

jobs:
  quality:
    name: "Code Build and Quality"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: gradle

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Install Dependencies
        run: ./gradlew dependencies

      - name: Run Code Linter
        run: |
          ./gradlew spotlessApply
          if [ -n "$(git status --porcelain)" ]; then
            echo "Detected unformatted files. Please run the code linter."
            exit 1
          fi

      - name: Run Code Quality Tools
        run: ./gradlew pmdMain

      - name: Run Tests
        run: ./gradlew test

  build-and-push:
    name: "Build the image and push"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: linux/amd64

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Image
        uses: docker/build-push-action@v5
        with:
          push: false
          context: .
          tags: sky